  	.video-background {
      position: fixed; /* 비디오를 고정 배경으로 설정하기 위해 position 속성을 fixed로 설정합니다 */
      top: 0;
      left: 0;
      width: 1920px;
/*      height: 100%;*/
      z-index: -1; /* 배경 비디오가 다른 요소들 뒤에 표시되도록 z-index를 설정합니다 */
    }

  	@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oswald:wght@400;500&display=swap');


    h1 {
      font-size: 72px;
      font-family:'Oswald', sans-serif;  
    }

        h2 {
    font-family: 'Dancing Script', cursive;
    font-family: 'Oswald', sans-serif;
   }

    .parent {
      margin: 60px;
      margin-left: 190px; 
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(3, 500px);
      grid-template-rows: repeat(3, 300px);

    }
    .parent > div {
      margin: 10px; 
      background-color: white ;
      border-radius: 5px;
      display: grid;
      place-items: center;
      opacity:0.8;

    }

    .parent > div {
      font-family: 'Oswald';
      font-size: 24px;
      font-weight: bold;
		}

    .img1
    {	
      position: absolute;
      left: 189px;
    	width: 300px;
    	height: 300px;
    	object-fit: cover;
    }  

     .img2
    { 
      position: absolute;
      left: 418px;
      bottom: 107px;
      width: 40px;
      height: 40px;
      object-fit: cover;
    } 

     .parent1 {
      margin: 20px;
      margin-left: 190px; 
      display: grid;
      grid-gap: 10px;
      grid-row-start: 1;
      grid-row-end: 4;

    }
    .parent1 > div {
      margin: 10px; 
      background-color: white ;
      border-radius: 5px;
      display: grid;
      place-items: center;
      opacity:0.8;

    }

    .parent1 > div {
      font-family: 'Oswald';
      font-size: 24px;
      font-weight: bold;
    }

     .parent2 {
      margin: 60px;
      margin-left: 190px; 
      display: grid;
      grid-gap: 10px;
      grid-column-start: 2;
      grid-column-end: 4;
    }
    .parent2 > div {
      margin: 10px; 
      background-color: white ;
      border-radius: 5px;
      display: grid;
      place-items: center;
      opacity:0.8;
    }

    .parent2 > div {
      font-family: 'Oswald';
      font-size: 24px;
      font-weight: bold;
    }

   /* .parent2:hover {
      font-size: 0;
    }
    .parent2:hover:before {
      content: '김준성';
      font-size: 100px;
    }*/

     .parent3 {
      margin: 60px;
      margin-left: 190px; 
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(3, 500px);
      grid-template-rows: repeat(3, 300px);

    }
    .parent3 > div {
      margin: 10px; 
      background-color: white ;
      border-radius: 5px;
      display: grid;
      place-items: center;
      opacity:0.8;

    }

    .parent3 > div {
      font-family: 'Oswald';
      font-size: 24px;
      font-weight: bold;
    }

     .parent4 {
      margin: 60px;
      margin-left: 190px; 
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(3, 500px);
      grid-template-rows: repeat(3, 300px);

    }
    .parent4 > div {
      margin: 10px; 
      background-color: white ;
      border-radius: 5px;
      display: grid;
      place-items: center;
      opacity:0.8;

    }

    .parent4 > div {
      font-family: 'Oswald';
      font-size: 24px;
      font-weight: bold;
    }

     .parent5 {
      margin: 60px;
      margin-left: 190px; 
      display: grid;
      grid-gap: 10px;
      grid-column-start: 2;
      grid-column-end: 4;

    }
    .parent5 > div {
      margin: 10px; 
      background-color: white ;
      border-radius: 5px;
      display: grid;
      place-items: center;
      opacity:0.8;

    }

    .parent5 > div {
      font-family: 'Oswald';
      font-size: 24px;
      font-weight: bold;
    }

     .parent6 {
      margin: 60px;
      margin-left: 190px; 
      display: grid;
      grid-gap: 10px;
      grid-column-start: 2;
      grid-column-end: 4;

    }
    .parent6 > div {
      margin: 10px; 
      background-color: white ;
      border-radius: 5px;
      display: grid;
      place-items: center;
      opacity:0.8;

    }

    .parent6 > div {
      font-family: 'Oswald';
      font-size: 24px;
      font-weight: bold;
    }

     .parent7 {
      margin: 60px;
      margin-left: 190px; 
      display: grid;
      grid-gap: 10px;
      grid-column-start: 2;
      grid-column-end: 4;

    }
    .parent7 > div {
      margin: 10px; 
      background-color: white ;
      border-radius: 5px;
      display: grid;
      place-items: center;
      opacity:0.8;

    }

    .parent7 > div {
      font-family: 'Oswald';
      font-size: 24px;
      font-weight: bold;
    }

         .parent8 {
      margin: 60px;
      margin-left: 190px; 
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(3, 500px);
      grid-template-rows: repeat(3, 300px);

    }
    .parent8 > div {
      margin: 10px; 
      background-color: white ;
      border-radius: 5px;
      display: grid;
      place-items: center;
      opacity:0.8;

    }

    .parent8 > div {
      font-family: 'Oswald';
      font-size: 24px;
      font-weight: bold;
    }

     }

     .parent9 {
      margin: 60px;
      margin-left: 190px; 
      display: grid;
      grid-gap: 10px;
      grid-column-start: 2;
      grid-column-end: 4;
    }
    .parent9 > div {
      margin: 10px; 
      background-color: white ;
      border-radius: 5px;
      display: grid;
      place-items: center;
      opacity:0.8;

    }

    .parent9 > div {
      font-family: 'Oswald';
      font-size: 24px;
      font-weight: bold;
    }



  footer {
      position: fixed;
      height: 100px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 99;
  }

  footer nav ul {
      display: flex;
      justify-content: center;
  }

  footer nav ul li {
      margin: 0 20px;
      list-style: none;
  }

  footer nav ul li a{
      text-decoration: none;
      font-size: 19px;
      color: black;
  }








